body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
}

section {
    padding: 20px;
    margin-bottom: 20px;
}

footer {
    background-color: #363535;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

footer div {
    flex-basis: 30%;
    text-align: center;
}
